{{#globals kind=kind ~}}
{{#if @first~}}{{>heading-indent}}{{../title}}

<dl>
{{/if~}}
<div class="ui accordion">
  <div class="active title">
    <i class="dropdown icon"></i>
    <a href="/#/Reference/{{{this.meta.moduleName}}}?id={{{name}}}">{{{name}}}</a>
  </div>
  <div class="content description">{{{md (inlineLinks description)}}}</div>
</div>
{{#if @last~}}</dl>

{{/if~}}
{{/globals~}}